/*
  ******************************************************************************
  FILE NAME:   _colors.scss
  ------------------------------------------------------------------------------
  DESCRIPTION: Define common colors using hex RGB and RGBA;
  ------------------------------------------------------------------------------
  AUTHOR:      TJE
  CREATED:     2016-03-21
  ******************************************************************************
*/
// Poly Colors;
// Blues;
$poly-blue    : #3E75B9;
$poly-blue-btn: #007DC3;

// Sandas Colors;
$san-peach    : #F2C3AE;
$san-peach-dk : rgba(242,195,174,0.65);
$san-peach-d2 : rgba(242,195,174,0.35);
$san-purple   : #655AA7;
$san-lavender : #B9C0ED;
$san-lav-70   : rgba(185,192,237,0.60);
$san-lav-40   : rgba(175,182,250,0.40);
$san-lav-30   : rgba(175,182,250,0.30);
$san-gold     : #A3A37E;

// JLL Colors;
// Warm;
$jll-red      : #BC141A;
$jll-berry    : #A7004D;
$jll-purple   : #71226B;
$jll-violet   : #7A77B5;
$jll-orange   : #E36307;

// Cool;
$jll-midnight : #3D5560;
$jll-petrol   : #318EAF;
$jll-aqua     : #4DBCC6;
$jll-olive    : #AB9942;
$jll-gold     : #DACA83;

// Greys;
$jll-charcoal : #3B3B3C;
$jll-ov-grey  : #828180;
$jll-med-grey : #CCC;
$jll-slate    : #9D9C9C;
$jll-concrete : #E3E3E3;
$jll-chalk    : #F5F5F5;
$jll-white    : #FFF;
$jll-con-lite : #EFEFEF;

// EMEA;
$emea-pale    : #F1F1EF;
$emea-lite    : #FDFDFD;
$emea-line    : #E6E8EA;
$emea-line-d  : #D6D8DA;
$emea-line-m  : #B0B7BA;
$emea-border  : #E5E5E2;
$emea-text    : #5C5C52;
$emea-btn     : #F3F3F2;
$emea-bread   : #D3161D;
$emea-bread-h : #6B6B62;
$emea-hilite  : rgba(137,209,243,0.5);

// Other;
$black        : #000;
$clr-text     : #333;
$nav-sel      : #2A2A2B;
$nav-act      : #111;
$trans        : transparent;
$hdr          : #FCFCFC;

// Social media;
$twitter-blue : #659FCB;

// Transparent shadows;
$sh05         : rgba(0,0,0,0.05);
$sh10         : rgba(0,0,0,0.10);
$sh15         : rgba(0,0,0,0.15);
$sh20         : rgba(0,0,0,0.20);
$sh25         : rgba(0,0,0,0.25);
$sh35         : rgba(0,0,0,0.35);
$sh40         : rgba(0,0,0,0.40);
$sh45         : rgba(0,0,0,0.45);
$sh50         : rgba(0,0,0,0.50);
$sh55         : rgba(0,0,0,0.55);
$sh60         : rgba(0,0,0,0.60);
$sh65         : rgba(0,0,0,0.65);
$sh75         : rgba(0,0,0,0.75);
$sh85         : rgba(0,0,0,0.85);
$sh90         : rgba(0,0,0,0.90);

// Transparent hilites;
$hi05         : rgba(255,255,255,0.05);
$hi10         : rgba(255,255,255,0.10);
$hi15         : rgba(255,255,255,0.15);
$hi20         : rgba(255,255,255,0.20);
$hi25         : rgba(255,255,255,0.25);
$hi35         : rgba(255,255,255,0.35);
$hi40         : rgba(255,255,255,0.40);
$hi45         : rgba(255,255,255,0.45);
$hi50         : rgba(255,255,255,0.50);
$hi65         : rgba(255,255,255,0.65);
$hi75         : rgba(255,255,255,0.75);
$hi85         : rgba(255,255,255,0.85);
$hi90         : rgba(255,255,255,0.90);

// Font contrast colors;
// Used for calculating effects in _fonts-utils.scss;
$contrasted-dark-default:  $clr-text;
$contrasted-light-default: $jll-chalk;