/*
  ******************************************************************************
  FILE NAME:   _buttons.scss
  ------------------------------------------------------------------------------
  DESCRIPTION: Define button appearances in default, hover, and active states;
               Include after _elements.css;
  ------------------------------------------------------------------------------
  AUTHOR:      TJE
  CREATED:     2016-11-21
  ******************************************************************************
*/
// Font-based icons for buttons and anchors;
[class^="ico-"],
[class*=" ico-"]
	{
	display:inline;
	width:auto;
	height:auto;
	color:$clr-text;
	font-family:JLLCustomFont;
	font-style:normal;
	font-weight:400;
	line-height:1;
	vertical-align:text-top;
	@include enhance-text-display($clr-text);
	&:before,
	&:before
		{
		text-decoration: inherit;
		display: inline-block;
		speak: none;
		}
	}
.ico-company:before         {content:'\0041';}
.ico-contact:before         {content:'\0042';}
.ico-find:before            {content:'\0043';}
.ico-globe:before           {content:'\0044';}
.ico-clear-filters:before   {content:'\0045';}
.ico-mobile:before          {content:'\0046';}
.ico-phone:before           {content:'\0047';}
.ico-email:before           {content:'\0048';}

// Buttons;
.btn
	{
	font-size:$fs-reg;
	font-weight:700;
	line-height:1.2;
	text-align:center;
	vertical-align:middle;
	}
.btn-large
	{
	@extend .btn;
	font-size:$fs-lrg;
	}