// ********************************************************
// ********************************************************
//  Base Compass file defining mix-ins and variables;     *
//                                                        *
//  Usage: @import into into main style file;             *
//                                                        *
// ********************************************************
// ********************************************************
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/filter";               // New HTML5 filter effects;
@import "compass/css3/user-interface";

// Extensions;
@import "partials/extensions/extensions";    // CSS and SCSS for extensions;

// JLL Colors;
// Warm;
$jll-red      : #BC141A;
$jll-berry    : #A7004D;
$jll-purple   : #71226B;
$jll-violet   : #7A77B5;
$jll-orange   : #E36307;

// Cool;
$jll-midnight : #3D5560;
$jll-petrol   : #318EAF;
$jll-aqua     : #4DBCC6;
$jll-olive    : #AB9942;
$jll-gold     : #DACA83;

// Greys;
$jll-charcoal : #3B3B3C;
$jll-ov-grey  : #828180;
$jll-med-grey : #CCC;
$jll-slate    : #9D9C9C;
$jll-concrete : #E3E3E3;
$jll-chalk    : #F5F5F5;
$jll-white    : #FFF;
$jll-con-lite : #EFEFEF;

// EMEA;
$emea-pale    : #F1F1EF;
$emea-lite    : #FDFDFD;
$emea-line    : #E6E8EA;
$emea-line-d  : #D6D8DA;
$emea-line-m  : #B0B7BA;
$emea-border  : #E5E5E2;
$emea-text    : #5C5C52;
$emea-btn     : #F3F3F2;
$emea-bread   : #D3161D;
$emea-bread-h : #6B6B62;
$emea-hilite  : rgba(137,209,243,0.5);

// Sandas Colors;
$san-peach    : #F2C3AE;
$san-peach-dk : rgba(242,195,174,0.65);
$san-peach-d2 : rgba(242,195,174,0.35);
$san-purple   : #655AA7;
$san-lavender : #B9C0ED;
$san-lav-70   : rgba(185,192,237,0.60);
$san-lav-40   : rgba(175,182,250,0.40);
$san-lav-30   : rgba(175,182,250,0.30);
$san-gold     : #A3A37E;

// Other;
$black        : #000;
$nav-sel      : #2A2A2B;
$nav-act      : #111;
$trans        : transparent;
$hdr          : #FCFCFC;

// Social media;
$twitter-blue : #659FCB;

// Transparent shadows;
$sh05         : rgba(0,0,0,0.05);
$sh10         : rgba(0,0,0,0.10);
$sh15         : rgba(0,0,0,0.15);
$sh20         : rgba(0,0,0,0.20);
$sh25         : rgba(0,0,0,0.25);
$sh35         : rgba(0,0,0,0.35);
$sh40         : rgba(0,0,0,0.40);
$sh45         : rgba(0,0,0,0.45);
$sh50         : rgba(0,0,0,0.50);
$sh55         : rgba(0,0,0,0.55);
$sh60         : rgba(0,0,0,0.60);
$sh65         : rgba(0,0,0,0.65);
$sh75         : rgba(0,0,0,0.75);
$sh85         : rgba(0,0,0,0.85);
$sh90         : rgba(0,0,0,0.90);

// Transparent hilites;
$hi05         : rgba(255,255,255,0.05);
$hi10         : rgba(255,255,255,0.10);
$hi15         : rgba(255,255,255,0.15);
$hi20         : rgba(255,255,255,0.20);
$hi25         : rgba(255,255,255,0.25);
$hi35         : rgba(255,255,255,0.35);
$hi40         : rgba(255,255,255,0.40);
$hi45         : rgba(255,255,255,0.45);
$hi50         : rgba(255,255,255,0.50);
$hi65         : rgba(255,255,255,0.65);
$hi75         : rgba(255,255,255,0.75);
$hi85         : rgba(255,255,255,0.85);
$hi90         : rgba(255,255,255,0.90);

// FONTS;
// Sans-serif font;
$font-sans    : Arial,'Helvetica Neue','Helvetica Medium',Helvetica,'Arial Neue',sans-serif;
$font-open    : 'Open Sans',Arial,'Helvetica Neue','Helvetica Medium',Helvetica,'Arial Neue',sans-serif;
$font-robo    : 'Roboto',Arial,'Helvetica Neue','Helvetica Medium',Helvetica,'Arial Neue',sans-serif;

// Font sizes;
$fs-nan      : 0.50em;
$fs-mic      : 0.60em;
$fs-tny      : 0.66em;
$fs-sml      : 0.76em;
$fs-med      : 0.80em;
$fs-fin      : 0.90em;
$fs-reg      : 0.92em;
$fs-one      : 1.0em;
$fs-onn      : 1.1em;
$fs-lrg      : 1.2em;
$fs-fam      : 1.5em;
$fs-eco      : 1.8em;
$fs-jum      : 2.2em;

// Sizes;
$sz-nav-h    : 27px;
$sz-hdr-h    : 110px;
$sz-find-h   : 28px;
$sz-lcol-w   : 100px;
$sz-base-h   : 44px;
$sz-sec-h    : 60px;
$sz-tab-pad  : 50px;
$sz-gutter   : 6px;
$sz-grid-h   : 96px;
$sz-chart-pad: 14px;
$sz-full-w   : 100%;
$sz-full-h   : 100%;
$sz-inset-w  : 80%;

// Timings;
$time-base   : 450ms;
$time-fast   : 100ms;
$time-slow   : 900ms;

// Breakpoints;
$mobi320     : 320px;
$mobi480     : 480px;
$mobi640     : 640px;
$mobi768     : 768px;
$mobi1024    : 1024px;
$desk1200    : 1200px;
$desk1600    : 1600px;
$desk1920    : 1920px;

// Skew Degrees;
$skew-pos    : -5deg;
$skew-neg    : 5deg;


// ------------------------------------
// Mixins;
// ------------------------------------
// Cross-browser grab cursor for range sliders;
@mixin grab-cursor
	{
	cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
	}

@mixin grabbing-cursor
	{
	cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
	}

@mixin prevent-text-select
	{
	-moz-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	}

// Animate gradient background transitions;
@mixin gradient-animation( $start, $end, $startH, $endH, $transTime, $radius:4px ){
  background-size: 100%;
  background-image: linear-gradient($start, $end);
  position: relative;
  z-index: 100;
  &:before {
    background-image: linear-gradient($startH, $endH);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    border-radius:$radius;
    transition: opacity $transTime;
    overflow:hidden;
  }
  &:hover,
  &:focus {
     &:before {
       opacity: 1;
     }
  }
}
// ------------------------------------
// Additional overrides;
// ------------------------------------
// Remove focus outlines;
a
	{
	text-decoration:none !important;
	outline:none;
	&:hover,&:active
		{
		text-decoration:none;
		}
	}

input[type="radio"]
	{
	margin:0;
	border:0;

	@include box-shadow(none);
	}

:focus,:active
	{
	outline:0 !important;
	}

// Placeholder font;
// Various cross-browser issues require keeping these as separate entries;
::-webkit-input-placeholder
	{ /* WebKit, Blink, Edge */
	font-family:$font-open;
	letter-spacing:-0.025em;
	}
:-moz-placeholder
	{ /* Mozilla Firefox 4 to 18 */
	font-family:$font-open;
	letter-spacing:-0.025em;
	opacity:  1;
	}
::-moz-placeholder
	{ /* Mozilla Firefox 19+ */
	font-family:$font-open;
	letter-spacing:-0.025em;
	opacity:  1;
	}
:-ms-input-placeholder
	{ /* Internet Explorer 10-11 */
	font-family:$font-open;
	letter-spacing:-0.025em;
	opacity:0.7;
	}
:placeholder-shown
	{ /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
	font-family:$font-open;
	letter-spacing:-0.025em;
	}

button::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=file] > input[type=button]::-moz-focus-inner
	{
  border: none;
	}



// ------------------------------------
// Convenience styles;
// ------------------------------------
.clear:before,.clear:after
	{
  content: ' ';
  display: table;
	}

.clear
	{
  *zoom: 1;
	}

.clear:after
	{
  clear: both;
	}

// Used for screen-reader-specific elements;
.hidden
	{
	position: absolute;
	left: 0;
	top: -500px;
	width: 1px;
	height: 1px;
	overflow: hidden;
	}

.fw {width:100%;}
.fh {height:100%;}

.lowercase {text-transform:lowercase;}
.align-right {text-align:right;}
.align-left-flex {
	@include justify-content(flex-start);
}
.align-center-flex {
	@include justify-content(center);
}
.align-right-flex {
	@include justify-content(flex-end);
}
.disp-tbl {display:table;}
.disp-tbl-row {display:table-row;}
.disp-tbl-cell {display:table-cell;}
.vert-center-wrapper {display:table;height:100%;}
.vert-center {display:table-cell;vertical-align:middle;}
.vert-center-wrapper-unk
	{
	position:relative;
	}
.vert-center-unk {
	position:absolute;
	top:50%;
	}
.vert-center-wrapper-flex {
	@include display-flex;
	@include align-items(center);
}

// Used for animation positioning;
// Make sure container has position:relative;
.spacer-50
	{
	position:absolute;
	top:50%;
	}