/* Main; */
main
	{
	display:table-cell;
	height:100%;
	vertical-align:top;
	& h1,& h2,& h3,& h4,& h5
		{
		margin:0 0 1em 4vw;
		font-weight:300;
		text-align:left;
		}
	& .tbl-header, & .tbl-subheader
		{
		display:block;
		margin:0;
		}
	& h1,
	& h2
		{
		font-size:$fs-eco;
		&.hdr-section
			{
			display:block;
			margin:-40px 0 0.5em 4vw;
			font-size:$fs-jum !important;
			text-align:left;
			}
		&.tbl-header
			{
			//margin:-60px 0 20px 4vw;
			width:40vw;
			margin:-40px 0 0.5em 0;
			padding-bottom:0.5em;
			font-size:$fs-jum;
			border-bottom:4px dotted #D0D7DA;
			}
		}
	& h3
		{
		font-size:$fs-fam;
		&.sub-hilite
			{
			color:$jll-petrol;
			font-weight:400;
			margin:0 0 0.5em 4vw;
			& a
				{
				&:hover
					{
					border-bottom:1px dotted $jll-petrol !important;
					cursor:pointer !important;
					}
				& .icon-email
					{
					display:block;
					float:left;
					width:$fs-sml;
					height:$fs-sml;
					margin:3px 4px 0 0;
					background:$trans url('../media/images/gly/icon-email.svg') 50% 50% no-repeat;
					@include background-size(auto 100%);
					}
				& span
					{
					display:inline-block;
					color:$jll-petrol;
					}
				}
			}
		&.cnt-hdr
			{
			margin:0 0 1em 4vw;
			color:$jll-petrol !important;
			font-size:$fs-lrg;
			font-weight:400;
			text-align:left;
			}
		&.tbl-subheader
			{
			display:block;
			margin-bottom:1vh;
			color:$jll-petrol !important;
			font-size:$fs-onn;
			font-weight:400;
			}
		}
	& h4
		{
		margin-top:2.5em;
		margin-bottom:1.25em;
		padding-bottom:0.75em;
		color:$jll-petrol;
		font-size:$fs-onn;
		font-weight:400;
		border-bottom:2px dotted rgba(49,142,175,0.5);
		&.tel
			{
			margin-top:0;
			border-bottom:0;
			& .icon-phone
				{
				display:block;
				float:left;
				width:1em;
				height:1em;
				margin:0px 4px 0 0;
				background:$trans url('../media/images/gly/icon-phone-02.svg') 0% 50% no-repeat;
				@include background-size(auto 100%);
				}
			& span
				{
				display:inline-block;
				}
			}
		}
	& p
		{
		margin: 0 0 1.75em 4vw;
	  color: $emea-text !important;
		font-size:$fs-reg !important;
		font-weight:400 !important;
		line-height:1.4;
	  text-align: left;
		}
	& .wrapper ul, & .wrapper ol
		{
		& li
			{
			margin:0 6vw 0.75em 4vw;
			padding-left:20px;
			font-size:$fs-reg;
			font-weight:400;
			line-height:1.3;
			text-align:left;
			text-indent:-19px;
			&:before
				{
				color:$jll-petrol;
				content:'\25A0';
				padding-right:10px;
				}
			}
		&.tight li
			{
			line-height:0.92;
			}
		}
	dl
		{
		margin:0 0 1.5em 0;
		& dt
			{
			font-weight:bold;
			}
		& dd
			{
			margin-left:1.5em;
			}
		}
	& b
		{
		font-weight:600 !important;
		}
	& button
		{
		&.btn-toggle-details
			{
			margin:0 0 1em 4vw;
			padding:10px 18px;
			color:$jll-ov-grey;
			font-size: 0.86em;
			font-weight:600;
			border: 1px solid $jll-ov-grey;
			border-radius:4px;
			background:$trans;
			@include transition(all 450ms linear);
			&:hover
				{
				background:#FFF;
				@include transition(all 450ms linear);
				}
			}
		}
	& .two-col
		{
		margin:40px 0 14vh 0;
		@include display-flex;
		& .col-1,& .col-2
			{
			width:43vw;
			}
		& .col-1
			{
			padding-right:4vw;
			border-right:2px dotted $sh15;
			text-align:left;
			}
		& .col-2
			{
			margin-right:6vw;
			text-align:left;
			}
	& .agent-details
			{
			display:none;
			& li
				{
				margin-right:2vw;
				line-height:1.4;
				}
			}
		}
	}

/* Specific Wrappers; */
#mainContent {
	padding-top:100px;
}

#details,#highlights
	{
	margin-top:-65px;
	@include box-shadow(0 0 15px 2px $sh25);
	}
#highlights
	{
	& .wrapper
		{
		//background:url('../media/images/bkg/boston-map.png') no-repeat;
		@include background-size(auto 100%);
		}
	& p
		{
		color:#000 !important;
		}
	}
.cnt-wrapper
	{
	float:left;
	width:42vw;
	min-width:500px;
	margin: 8vh 0 0 0;
	}
#map,#research,#contact,#aboutus
	{
	overflow:hidden;
	}
#map,#research
	{
	//margin-top:-70px;
	}
#contact
	{
	//margin-top:-30px;
	}
.research-collection
	{
	margin:0 6vw 40px 4vw;
	text-align:left;
	& .download
		{
		display:inline-block;
		text-align:center;
		cursor:pointer;
		&:first-child
			{
			margin-right:3vw;
			}
		.img-preview
			{
			display:block;
			width:184px;
			height:240px;
			border:6px solid #FFF;
			@include box-shadow(0 0 0 1px $sh35);
			&.report-01
				{
				background:$trans url('../media/images/rep/report-01.png') 0% 0% no-repeat;
				@include background-size(auto 100%);
				}
			&.report-02
				{
				background:$trans url('../media/images/rep/report-02.png') 0% 0% no-repeat;
				@include background-size(auto 100%);
				}
			}
		& .report-caption
			{
			display:inline-block;
			margin-top:0.5em;
			color:#000;
			font-size:$fs-reg;
			font-style:italic;
			font-weight:400;
			line-height:1.4;
			}
		}
	}
.map-frame
	{
	width:91vw;
	height:100vh;
	margin-bottom:6vh;
	border:2px solid $jll-ov-grey;
	}
.quote
	{
	position:absolute;
	top:50%;
	left:50%;
	width:30vw;
	min-width:410px;
	margin-top:-44px;
	@include transform(translate(-50%, -50%));
	}
.ldq,
.rdq
	{
	color:rgba(0,177,255,0.75);
	font-family:'Times New Roman', Times, serif;
	font-size:180px;
	line-height:1;
	text-align:center;
	}
.ldq
	{
	margin-bottom:-90px;
	line-height:1;
	&:after
		{
		content:'\201C';
		}
	}
.rdq
	{
	margin-top:-20px;
		&:after
		{
		content:'\201D';
		}
	}
.initial
	{
	& .wrapper
		{
		padding:0vh 0 0 0vw;
		& .hdr-quote
			{
			display:block;
			margin:0;
			color:$hi85;
			font:normal 900 3.5em/0.9 $font-robo;
			text-align: center;
			text-shadow:
	       3px 3px 20px $sh25,
	     -1px -1px 0 $sh50,
	      1px -1px 0 $sh50,
	      -1px 1px 0 $sh50,
	       1px 1px 0 $sh50;
			& span
				{
				display:block;
				}
			}
		& .hdr-quote-author
			{
			margin:1em 0 0 230px;
			color:$hi85;
			font:normal 400 $fs-onn/1.2 $font-robo;
			text-align:left;
			text-shadow:
	       3px 3px 20px $sh25,
	     -1px -1px 0 $sh50,
	      1px -1px 0 $sh50,
	      -1px 1px 0 $sh50,
	       1px 1px 0 $sh50;
			}
		& .poly-logo-large
			{
			width:300px;
			height:120px;
			margin:50px 0 0 50px;
			background:$trans url('../media/images/shr/poly-logo-chalk.svg') no-repeat 0% 50%;
			background-size:100% auto;
			}
		}
	}

/* Video; */
// Prevent iOS from showing unneeded controls;
video::-webkit-media-controls
	{
	display:none !important;
	}
.video-background,
.video-wall
	{
	display:block;
	position:fixed;
	top:50%;
	left:50%;
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	@include transform(translate(-50%,-50%));
	@include background-size(cover);
	}
.video-selector
	{
	position:absolute;
	width:200px;
	height:400px;
	top:10%;
	right:10%;
	}
.btn-video
	{
	display:inline-block;
	width:200px;
	height:113px;
	margin:3vh 4px 4px 4px;
	opacity:0.4;
	@include transition(opacity 450ms linear);
	&:first-child
		{
		margin:0 4px 4px 4px;
		}
	&:hover
		{
		opacity:1;
		@include transition(opacity 1450ms linear);
		}
	&.opaque
		{
		opacity:1;
		& video
			{
			border:2px solid $jll-gold;
			}
		}
	& video
		{
		border:2px solid $hi90;
		}
	& span
		{
		color:$jll-chalk;
		font-size:$fs-sml;
		text-shadow:
       0px  0px 7px  $sh35,
      -1px -1px 0    $sh50,
       1px -1px 0    $sh50,
      -1px  1px 0    $sh50,
       1px  1px 0    $sh50;
		text-transform:uppercase;
		}
	}
.i360
	{
	margin:24px 0;
	width:45vw;
	height:25vw;
	}

/* Callout Text; */
.bright .shadow-box.slideInUp
	{
	display: block;
	width: 40vw;
	padding: 30px 40px;
	margin-left: auto;
	margin-right: auto;
	border:2px solid $jll-gold;
	border-radius:8px;
	background:rgba(0,30,90,0.5);
	opacity:0.8;
	@include box-shadow(inset -1px -1px 1px 0 $hi35,inset 1px 1px 3px 0 $sh25,0 3px 10px 0 $sh50);
	& h1
		{
		margin:0 0 1em 0;
		font-size:$fs-jum;
		font-weight:300;
		text-align:left;
		}
	& p
		{
		margin:0 0 1.25em 0 !important;
		font-size:$fs-lrg !important;
		}
	& section
		{
		max-width:100% !important;
		}
	}
.bright h1,.bright p
	{
	color:#FFF !important;
	font-weight:400;
	text-shadow:
     0px  0px 7px  $sh35,
    -1px -1px 0    $sh25,
     1px -1px 0    $sh25,
    -1px  1px 0    $sh25,
     1px  1px 0    $sh25;
	}

/* Images; */
.img-floor
	{
	width:35vw;
	max-width:500px;
	}
.poly-logo-accent
	{
	display:block;
	width:100%;
	height:5vw;
	margin:0 auto;
	background:transparent url('../media/images/shr/poly-logo-white.svg') 50% 50% no-repeat;
	@include background-size(contain);
	}
.img-agt
	{
	float:left;
	height:64px;
	margin:4px 14px 0 4vw;
	border-radius:8px;
	}
figure.fl
	{
	float:left;
	margin:5px 2vw 0 4vw;
	clear:both;
	& .img-med
		{
		width:300px;
		}
	}
.caption
	{
	font-size:$fs-tny !important;
	font-style:italic;
	text-align:center;
	}

/* Tables; */
.tbl-group
	{
	float:left;
	margin:0 0 0 4vw;
	width:45vw;
	}
.tbl-wrapper
	{
	padding:0;
	margin:0.5em 0 1.5em 0;
	border:1px solid $emea-line-d;
	}
table
	{
	width:100%;
	border-collapse:separate;
	empty-cells:show;
	border-left:1px solid $emea-line-d;
	border-top:1px solid $emea-line-d;
	& td
		{
		vertical-align:top;
		padding:10px;
		font-size:$fs-reg;
		border-right:1px solid $emea-line-d;
		border-bottom:1px solid $emea-line-d;
		background:$hi90;
		&.label
			{
			width:30%;
			min-width:174px;
			}
		&.value
			{
			min-width:200px;
			font-weight:600;
			}
		}
	}

/* Preloader */
#preloader
	{
	display:none !important;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 101;
	background-color:$nav-sel;
	color:$hi10;
	& .txt
		{
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  -webkit-transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
		}
	& .txt-perc
		{
	  font-size: 35px;
	  font-family: $font-open;
	  opacity: 1;
	  margin: 0 0 6px 0;
	  max-width: 400px;
	  text-align: center;
		}
	& .progress
		{
	  width: 100px;
	  height: 3px;
	  background-color: rgba(255, 255, 255, 0.2);
	  margin: 0 auto 15px auto;
		}
	& .progress span
		{
	  display: block;
	  width: 0;
	  height: 100%;
	  background-color: rgba(255, 255, 255, 0.8);
		}
	&.is-hidden
		{
	  visibility: hidden;
	  opacity: 0;
		}
	}
.is-loading
	{
	overflow: hidden;
	}

/* Section headers;  */
.header-container
	{
  color:$jll-chalk;
	}
.header-container
	{
	& .wrapper
		{
		padding-top: 60px;
		z-index: 2;
		position: relative;
		}
	& .bcg
		{
		-webkit-transition: -webkit-transform 4s ease-out;
		transition: transform 4s ease-out;
		-webkit-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
		-webkit-transform-origin: top center;
		-ms-transform-origin: top center;
		transform-origin: top center;
		}
	&.is-loaded .bcg
		{
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		}
	}

/* Background cover graphics; */
.bcg
	{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: no-repeat center center;
	background-size: cover;
	z-index: 0;
	opacity: 1;
	}
#slide01 .bcg
	{
  background: url('../media/images/bkg/poly-01.jpg') no-repeat center center;
  background-size: cover;
	}
#slide02 .bcg
	{
  background: url('../media/images/bkg/poly-02.jpg') no-repeat center center;
  background-size: cover;
	}
#slide03 .bcg
	{
  background: url('../media/images/bkg/poly-03.jpg') no-repeat center center;
  background-size: cover;
	}
#slide04 .bcg
	{
  background: url('../media/images/bkg/poly-04.jpg') no-repeat center center;
  background-size: cover;
	}
#slide05 .bcg
	{
  background: url('../media/images/bkg/poly-05.jpg') no-repeat center center;
  background-size: cover;
	}
#slide06 .bcg
	{
  background: url('../media/images/bkg/poly-06.jpg') no-repeat center center;
  background-size: cover;
	}

/* Navigation Dots */
#nav-dots
	{
	display: none;
	position: fixed;
	right: 30px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: right;
	z-index: 100;
	& a
		{
		display: block;
		line-height: 25px;
		position: relative;
		padding-right: 20px;
		color: #ffffff;
		text-decoration: none;
		}
	& a:hover .nav-label
		{
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
		visibility: visible;
		}
	& .nav-dot
		{
		display: block;
		width: 10px;
		height: 10px;
		position: absolute;
		right: 0;
		top: 50%;
		background-color:$hi25;
		border-radius: 100%;
		border:1px solid $hi35;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-transition: all 0.3s linear;
		transition: all 0.3s linear;
		}
	& .nav-label
		{
		display: block;
		opacity: 0.5;
		visibility: hidden;
		-webkit-transform: translateX(-10px);
		-ms-transform: translateX(-10px);
		transform: translateX(-10px);
		-webkit-transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
		transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
		}
	&.is-dark a
		{
	  color: #212121;
		}
	&.is-dark .nav-dot
		{
	  background-color:$sh25;
		border:1px solid $sh50 !important;
		}
	&.is-lite a
		{
	  color: $jll-chalk;
		}
	&.is-lite .nav-dot
		{
	  //background-color:$sh25 !important;
		}
	&.is-dark li.nav-dot-sel .nav-dot
		{
		background-color:$sh75 !important;
		border:1px solid #000 !important;
		}
	&.is-lite li.nav-dot-sel .nav-dot
		{
		background-color:$hi75 !important;
		border:1px solid $hi90 !important;
		}
	& ul
		{
	  margin: 0;
	  padding: 0;
		}
	& li
		{
	  width: auto;
	  list-style: none;
		}
	}
#nav-dots
	{
	display: block;
	}

/* Scroll Hint; */
.scroll-hint
	{
  position: absolute;
  bottom: 150px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
	& .scroll-hint-arrow
		{
		display:block;
		height:50px;
		width:50px;
		margin:0 auto;
		background:$trans url('../media/images/shr/chevron-scroll.svg') 50% 0% no-repeat;
		@include background-size(contain);
		}
	& .scroll-hint-text
		{
		display:block;
		color:$jll-chalk;
		font:normal 600 $fs-reg/1.1 $font-open;
		@include animation(fadetext 1500ms infinite);
		}
	}
.bounce
	{
	@include animation(bounce 1500ms infinite);
	}
@include keyframes(bounce)
	{
	0%, 100%
		{
		opacity:0.9;
		@include transform(translate(0));
		}
	50%
		{
    opacity:0.4;
    @include transform(translateY(-24px));
  	}
	}
@include keyframes(fadetext)
	{
	0%, 100%
		{
		text-shadow:
       0px  0px 7px  $sh35,
      -1px -1px 0    $sh50,
       1px -1px 0    $sh50,
      -1px  1px 0    $sh50,
       1px  1px 0    $sh50;
		opacity:0.9;
		}
	10%
		{
		text-shadow:
       0px  0px 15px  $sh15,
      -1px -1px 0    $sh50,
       1px -1px 0    $sh50,
      -1px  1px 0    $sh50,
       1px  1px 0    $sh50;
		opacity:0.5;
		}
	}

/* Main */
.fs
	{
	height: 120vh;
	}
.content-block .wrapper td
	{
	color:$jll-charcoal;
	}
.slide
	{
  color:#000;
  position: relative;
	& .wrapper
		{
	  padding-top: 30px;
	  text-align: center;
	  position: relative;
	  z-index: 2;
		}
	&#slide01 .wrapper
		{
	  position: absolute;
	  top: 10%;
		}
	&#slide02 .wrapper
		{
	  position: absolute;
	  bottom: 10%;
		}
	&#slide03 .button
		{
	  border-color: #ffffff;
	  color: #212121;
	  background-color: rgba(255, 255, 255, 0.9);
		}
	&#slide03 .button:hover
		{
	  border-color: #212121;
	  background-color: #212121;
	  color: #ffffff;
		}
	&#slide03 .wrapper
		{
	  padding-top: 100px;
		}
	&#slide04
		{
	  background-color: #be4c2c;
		}
	}

/* Content Block */
.content-block
	{
	color: rgba(255, 255, 255, 0.9);
	background:$trans !important;
	@include box-shadow(0 0 18px 3px $sh35);
	}
.skew-neg
	{
	-webkit-transform: skewY($skew-neg);
	-moz-transform: skewY($skew-neg);
	-ms-transform: skewY($skew-neg);
	-o-transform: skewY($skew-neg);
	transform: skewY($skew-neg);
	}
.skew-pos
	{
	-webkit-transform: skewY($skew-pos);
	-moz-transform: skewY($skew-pos);
	-ms-transform: skewY($skew-pos);
	-o-transform: skewY($skew-pos);
	transform: skewY($skew-pos);
	}
.content-block .wrapper
	{
	padding: 30px 0;
	text-align: center;
	background:$jll-chalk;
	}
.no-touch .content-block .wrapper
	{
	visibility: hidden;
	opacity: 0;
	}
.no-touch .content-block.is-active .wrapper
	{
	visibility: visible;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	}

.top-adjust
	{
	margin-top:-110px;
	}

/* Footer */
.footer-container
	{
	text-align: center;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);
	background-color: #06060d;
	& h3
		{
		margin: 0;
		padding: 20px 0;
		font-weight: normal;
		}
	& a
		{
		color: rgba(255, 255, 255, 0.5);
		}
	}

/* Simple animation up */
.no-touch .slideInUp {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
}

.no-touch .is-active .slideInUp {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, -400px, 0);
}

.no-touch #highlights.is-active .slideInUp {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0px, 0);
}

.slideInUp.slideInUp2 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.slideInUp.slideInUp3 {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}


.slide
	{
	overflow: hidden;
	overflow-x: hidden;
	& section
		{
		max-width: 400px;
		}
	& .wrapper
		{
		padding-top: 120px;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: left;
		width: 100%;
		margin: 0;
		}
	&#slide01,
	&#slide02,
	&#slide03,
	&#slide04,
	&#slide05,
	&#slide06
		{
		margin-top:-140px;
		color: #212121;
		z-index:-1;
		& .wrapper
			{
			top:110%;
			}
		& section
			{
			margin:0 auto;
			}
		}
	// &#slide02
	// 	{
	// 	color:#FFF;
	// 	}
	// &#slide02 .wrapper
	// 	{
	// 	// top: auto;
	// 	// bottom: 40%;
	// 	// left: 10%;
	// 	// text-align: left;
	// 	// -webkit-transform: translate(0);
	// 	// -ms-transform: translate(0);
	// 	// transform: translate(0);
	// 	// padding: 0;
	// 	}
	// &#slide02 section
	// 	{
	// 	margin: 0;
	// 	}
	// &#slide03 .wrapper
	// 	{
	// 	// padding: 0;
	// 	// top: 15%;
	// 	// -webkit-transform: translate(-50%, 0);
	// 	// -ms-transform: translate(-50%, 0);
	// 	// transform: translate(-50%, 0);
	// 	}
	// &#slide03 section
	// 	{
	// 	margin: 0 auto;
	// 	max-width: 570px;
	// 	}
	// &#slide03 .bcg
	// 	{
	// 	opacity: 1;
	// 	}
	}


  .content-block .wrapper
	{
    padding:60px 0;
  	}

/* Section Helpers; */
.header-container
	{
	overflow: hidden;
	position: relative;
	}
.hidden
	{
	display: none !important;
	visibility: hidden;
	}
.visuallyhidden
	{
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	&.focusable:active,
	&.focusable:focus
		{
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
		}
	}
.invisible
	{
	visibility: hidden;
	}

// Section-specific styling;
.sect
	{
	width:80vw;
	margin:0 auto;
	& .three-col
		{
		@include display-flex;
		margin-bottom:2em;
		& .col-eq
			{
			@include flex(1);

			& h3,
			& p
				{
				margin: 0 60px 1.75em 0;
				&:last-child
					{
					margin:0 0 1.75em 0;
					}
				}
			& .sum-tease
				{
				min-height:210px;
				}
			}
		}
	}
.btn-tease
	{
	position: relative;
	display:block;
	height:44px;
	margin:0;
	padding:0 20px;
	color:$jll-chalk;
	font-size:15px;
	line-height:1;
	background:#007DC3;
	border:1px solid #006CB2;
	@include border-radius(5px 12px 12px 5px);
	&:before,
	&:after
		{
		left: 98.5%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		}
	&:after
		{
		border-left-color: #007DC3;
		border-width: 18px;
		margin-top: -18px;
		}
	&:before
		{
		border-left-color: #006CB2;
		border-width: 19px;
		margin-top: -19px;
		}
	}
.sec-featured-clients,
.sec-modern-data,
.sec-about-us,
.sec-contact
	{
	& .sub-hilite
		{
		margin:1em 0;
		}
	& p
		{
		margin:0 0 1.75em 0;
		}
	}

.client-list
	{
	margin:0;
	text-align:left;
	& .cl-logos
		{
		display:inline-block;
		width:120px;
		height:120px;
		margin:1vw 1vw 0 0;
		border:1px solid #CACBCD;
		@include border-radius(3px);
		background:transparent url('../media/images/shr/client-logos-sprite-120@3x.png') no-repeat;
		@include background-size(100% auto);
		@include box-shadow(1px 1px 4px 0 $sh10);
		cursor:pointer;
		&:last-child
			{
			margin:1vw 0 0 0;
			}
		&:active
			{
			@include box-shadow(none);
			}
		&.cl-logo-jll
			{
			background-position:0 -720px;
			}
		&.cl-logo-not
			{
			background-position:0 -600px;
			}
		&.cl-logo-boa
			{
			background-position:0 -360px;
			}
		&.cl-logo-gom
			{
			background-position:0 -480px;
			}
		&.cl-logo-kra
			{
			background-position:0 -240px;
			}
		&.cl-logo-blu
			{
			background-position:0 -120px;
			}
		}
	}

.maitc-list
	{
	text-align:left;
	}
.maitc-item
	{
	display:inline-block;
	width:170px;
	height:220px;
	margin:0 20px 20px 0;
	padding:0;
	line-height:1;
	border:1px solid #CACBCD;
	background:url('../media/images/shr/maitcd-sprite.png') no-repeat;
	@include background-size(100% auto);
	&:last-child
		{
		margin-right:0;
		}
	&.maitc-mar
		{
		background-position:0 -220px;
		}
	&.maitc-may
		{
		background-position:0 -440px;
		}
	&.maitc-jun
		{
		background-position:0 -660px;
		}
	&.maitc-jul
		{
		background-position:0 -880px;
		}
	&.maitc-sep
		{
		background-position:0 -1100px;
		}
	&.maitc-oct
		{
		background-position:0 -1320px;
		}
	&.maitc-nov
		{
		background-position:0 -1540px;
		}
	}