/*
  ******************************************************************************
  FILE NAME:   main.scss
  ------------------------------------------------------------------------------
  DESCRIPTION: Define styles for project; only file that outputs CSS;
  ------------------------------------------------------------------------------
  AUTHOR:      TJE
  CREATED:     2016-11-21
  ******************************************************************************
*/
// Include variables and mixins;
@import "partials/base";

// Include Bootstrap overrides;
@import "bootstrap-variables";

// Page sections;
@import "sections/header";
@import "sections/content";
@import "sections/footer";

// Overall Layout;
html,body
	{
	height:100%;
	}
body
	{
	font-family:$font-open;
	font-kerning:normal;
	text-shadow:1px 1px 1px rgba(0,0,0,0.004);
	text-rendering:optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	}
h1,h2,h3,h4,h5,p,li,dt,dd,input[type='text'],button,textarea
	{
	color:$jll-charcoal;
	transform:scale(1,1);
	zoom:1;
	}
h1
	{
	letter-spacing:-0.015em;
	}
iframe {
	border:0;
}
audio,
canvas,
progress,
video
	{
  display: inline-block;
  vertical-align: baseline;
	}
audio:not([controls])
	{
  display: none;
  height: 0;
	}
[hidden], template
	{
  display: none;
	}
p {
	color:$emea-text;
	}
header.base,
main.base,
footer.base
	{
	display:table-row;
	}
main.base
	{
	height:100%;
	}
header.base,footer.base
	{
	height:1px;
	}
.wrapper
	{
	display: table;
	height: 100%;
	width: 100%;
	}
.main-wrapper {
	width:930px;
	margin:70px auto 0 auto;
	padding-left:20px;
	border-left:3px solid #EEE;
	border-right:3px solid #EEE;
}
.card-wrap {
	display: inline-block;
	width: 420px;
	height:220px;
	margin: 0 10px 10px 0;
	padding: 14px;
	background: #FAFAFB;
	border-radius: 10px;
	border: 1px solid #E0E0E8;
	@include box-shadow(inset 0 1px 0 0 #FFF,0 1px 5px 0 rgba(0,0,0,0.08));
	overflow:hidden;
	&:nth-child(even) {
			margin-right:0;
	}
	& .card {
		min-height:192px;
		padding:14px;
		line-height:1.3;
		background: #FEFEFE;
		@include box-shadow(inset 0 0 0 1px rgba(0,0,0,0.08));
		border-radius:6px;
		& .desc {
			margin-bottom:0.75em;
			font-style:italic;
		}
		& .hide {
			display:none;
		}
		& .label-contact:before {
			display:inline-block;
			width:60px;
			content:'Contact:';
			font-weight:700;
		}
		& .label-address {
			float:left;
			width:60px;
			font-weight:700;
			&:after {
				content:':';
			}
		}
		& .address-wrap {
			display:block;
			padding-left:60px;
			width:100%;

			& .adr-pob,
			& .adr-str {
				display:block;
			}
			& .adr-cit:after {
				content: ', ';
			}
			& .adr-reg:after,
			& .adr-pos:after,
			& .adr-cnt:after {
				content: ' ';
			}
			& .adr-map {
				display:inline-block;
				width:14px;
				height:14px;
				text-indent:-999em;
				background:url('../media/images/gly/icon-pin.svg') no-repeat;
				background-size:100% auto;
			}
		}
		& .label-url:before {
			display:inline-block;
			width:60px;
			content:'Website:';
			font-weight:700;
		}
		& .label-email:before {
			display:inline-block;
			width:60px;
			content:'Email:';
			font-weight:700;
		}
		& .label-phone:before {
			display:inline-block;
			width:60px;
			content:'Phone:';
			font-weight:700;
		}
		& .label-fax:before {
			display:inline-block;
			width:60px;
			content:'Fax:';
			font-weight:700;
		}
	}
	& dt, & dd {
		font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;

		& a {
			color:#0071BC;
		}
	}
	& dt {
		font-size:18px;
		font-weight:400;
		margin-bottom:0.5em;
		padding-bottom:0.25em;
		border-bottom:2px dotted #CCC;
	}
	& dd {
		margin-left:0;
		font-size:12px;
	}
}