#mainContent.container
	.bcg
		video#video-01.video-wall(loop,muted,autoplay)
			source(src="media/video/main.webm",type="video/webm")
			<source src="media/video/main.mp4" type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"'>
			| Browser does not support video
	="\n"
	.row
		h1.hdr-find-main Find your place
	.row
		form.form-horizontal(itemprop="potentialAction",itemscope,itemtype="http://schema.org/SearchAction")
			<meta itemprop="target" content="http://ssv.polymorphicsystems.com/={search_term}" />
			ul.nav.nav-tabs(role="tablist")
				li.active(role="presentation")
					a(href="#tabSaleFilter",data-toggle="tab",role="tab",aria-selected="true") Sale
				li(role="presentation")
					a(href="#tabLeaseFilter",data-toggle="tab",role="tab",aria-selected="false") Lease
			#mainSearch.tab-content
				#tabSaleFilter.tab-pane.in.active(role="tabpanel",aria-hidden="false",aria-labelledby="tabSaleFilter")
					#findSaleMain.input-group.fw
						.container-fluid
							.row
								.col-sm-2
										.btn-group(role="group")
											button#btnSaleFilter.btn.btn-default.btn-sm.btn-main.dropdown-toggle.multiselect(type="button",data-toggle="dropdown",value="0",aria-has-popup="true")
												span.caret
												span.sr-only Open dropdown
											ul.multiselect-container.dropdown-menu(role="menu",aria-expanded="false")
												li.dd-default
													a.checkbox(href="#")
														label(for="saleFilter00")
															input#saleFilter00.chk-dd-main.styled(type="checkbox",name="saleFilterTypes[]",value="all",aria-checked="true",checked)
															span.cr
																span.cr-icon.glyphicon.glyphicon-ok
															span.cr-lbl All properties
												li.divider
												li
													.checkbox
														input#saleFilter01.chk-dd-main(type="checkbox",name="saleFilterTypes[]",value="office",aria-checked="true",checked)
														label(for="saleFilter01") Office
												li
													.checkbox
														input#saleFilter02.chk-dd-main(type="checkbox",name="saleFilterTypes[]",value="industrial",aria-checked="true",checked)
														label(for="saleFilter02") Industrial
												li
													.checkbox
														input#saleFilter03.chk-dd-main(type="checkbox",name="saleFilterTypes[]",value="retail",aria-checked="true",checked)
														label(for="saleFilter03") Retail
												li
													.checkbox
														input#saleFilter04.chk-dd-main(type="checkbox",name="saleFilterTypes[]",value="land",aria-checked="true",checked)
														label(for="saleFilter04") Land
												li
													.checkbox
														input#saleFilter05.chk-dd-main(type="checkbox",name="saleFilterTypes[]",value="special",aria-checked="true",checked)
														label(for="saleFilter05") Special Purpose
								.col-sm-8
									.form-group.form-input-wrap
										label#lblMainSaleFind.lbl-main-find(for="inpMainSaleFind") Find
										.inp-wrap(contenteditable="false")
											input#inpMainSaleFind.form-control.inp.inp-find(type="search",data-val="true",data-val-required="Please check your search!",name="mainSaleFind",placeholder="Enter an address, region, or postal code",aria-required="false",aria-labelledby="lblMainSaleFind",itemprop="query-input")
								.col-sm-2
									button.btn.btn-find(type="submit",title="Search Sandas")
										span.ico-find(aria-hidden="true")
										span.sr-only Find
				#tabLeaseFilter.tab-pane(role="tabpanel",aria-hidden="true",aria-labelledby="tabLeaseFilter")
					#findLeaseMain.input-group
						.input-group-btn
							.btn-group(role="group")
								.dropdown.dropdown-lg
									button.btn.btn-main.dropdown-toggle(type="button",data-toggle="dropdown",aria-expanded="false")
										span.caret
										span.sr-only Open dropdown
									.dropdown-menu.dropdown-menu-right(role="menu")
										.form-group
											label#lblSelLeaseFilterTypes.lbl-main-filter(for="selLeaseFilterTypes") Property Type
											select#selLeaseFilterTypes.form-control(aria-labelledby="lblSelLeaseFilterTypes")
												option(value="0",selected) All properties
												option(value="1") Office
												option(value="2") Industrial
												option(value="3") Retail
												option(value="4") Land
												option(value="5") Special Purpose
						.form-group.form-input-wrap
							label#lblMainLeaseFind.lbl-main-find(for="inpMainLeaseFind") Find
							.inp-wrap(contenteditable="false")
								input#inpMainLeaseFind.form-control.inp.inp-find(type="search",data-val="true",data-val-required="Please check your search!",name="mainLeaseFind",placeholder="LEASES: Enter an address, region, or postal code",aria-required="false",aria-labelledby="lblMainLeaseFind",itemprop="query-input")
						button.btn.btn-find(type="submit",title="Search Sandas")
							span.ico-find(aria-hidden="true")
							span.sr-only Find
		.row
			a#lnkAdvancedSearch(href="/advanced/") Advanced Search&#8230;
		.row
			button.btn.btn-appstore(type="button",title="Get the Sandas app on the App Store!")
				span.sr-only Get the free Sandas app from the Apple App Store!
			button.btn.btn-googleplay(type="button",title="Get the Sandas app on Google Play!")
				span.sr-only Get the free Sandas app on Google Play!
	="\n"
	.container-fluid
		.row
			article#featured.content-block(aria-describedby="hdrFeaturedProperties")
				h2#hdrFeaturedProperties.hdr-section Featured Properties Around You
				.col-sm-4
					p Property 1
				.col-sm-4
					p Property 2
				.col-sm-4
					p Property 3
		.row
			article#difference.content-block(aria-describedby="hdrSandasDifference")
				h2#hdrSandasDifference.hdr-section The Sandas Difference
				p Some blurb about what makes Sandas special
				button.btn.btn-arrow-right(type="button") Learn more&#8230;
		.row
			article#contactBroker.content-block(aria-describedby="hdrContactBroker")
				h2#hdrContactBroker.hdr-section Contact a Broker
				form#frmContactBroker(aria-describedby="hdrContactBroker")
					.form-group
						label#lblContactMsg.lbl-inline.lbl-required(for="txtContactMsg") How may we help you today?
						textarea#txtContactMsg.form-control(rows="5",placeholder="How may we help you today?",data-val="true",data-val-required="Please include a message for the broker",name="brokerContactEmail",aria-multiline="true",aria-labelledby="lblContactMsg",aria-required="true")
					.form-group
						label#lblContactWhere.lbl-inline.lbl-required(for="inpContactWhere") Where are you looking?
						input#inpContactWhere.form-control(type="text",data-val="true",data-val-required="Please enter a region",name="brokerContactWhere",placeholder="Which region are interested in?",aria-labelledby="lblContactWhere",aria-required="true")
					.form-group
						label#lblContactEmail.lbl-inline.lbl-required(for="inpContactEmail") Please provide an email:
						input#inpContactEmail.form-control(type="email",data-val="true",data-val-required="Please check your email",name="brokerContactEmail",placeholder="Your contact email",aria-labelledby="lblContactEmail",aria-required="true")
					.form-group
						label#lblContactPhone.lbl-inline(for="inpContactPhone") Please provide a phone number (optional):
						input#inpContactPhone.form-control(type="tel",data-val="true",name="brokerContactPhone",placeholder="Provide a phone number (optional)",aria-labelledby="lblContactPhone",aria-required="false")
					button#btnSendBrokerContact.btn.btn-primary(type="button") Send
		.row
			article#power.content-block(aria-describedby="hdrSandasPower")
				h2#hdrSandasPower.hdr-section Sandas means Power
				p Some blurb how Sandas is bringing powerful new selling tools to the market
				button.btn.btn-arrow-right(type="button") Learn more&#8230;