/*
  ******************************************************************************
  FILE NAME:   _elements.scss
  ------------------------------------------------------------------------------
  DESCRIPTION: Partial to define base appearance for project HTML elements;
  ------------------------------------------------------------------------------
  AUTHOR:      TJE
  CREATED:     2016-11-21
  ******************************************************************************
*/
// --------------------------------------------------------
// COMMON SIZES;
// --------------------------------------------------------
$sz-base-h   : 44px;
$sz-left-bar : 86px;
$sz-btn-nav  : 8vh;
$sz-icon     : 5vh;
$sz-icon-min : 32px;
$sz-icon-max : 48px;
$sz-triangle : 2vh;
$sz-gutter   : 6px;
$sz-pad      : 8px;
$sz-lcol-w   : 100px;
$sz-sec-h    : 64px;
$sz-tab-pad  : 50px;
$sz-grid-h   : 96px;

// Skew Degrees (used for angle f/x);
$skew-pos   : -5deg;
$skew-neg   : 5deg;

// Generic Breakpoints;
$mobi320     : 320px;
$mobi480     : 480px;
$mobi640     : 640px;
$mobi768     : 768px;
$mobi1024    : 1024px;
$desk1200    : 1200px;
$desk1600    : 1600px;
$desk1920    : 1920px;

// Breakpoints;
// min-width is default when only a number is declared
$iphone5: (min-device-width 320px) (max-device-width 568px) (-webkit-min-device-pixel-ratio 2) (orientation portrait);
$iphone5l:(min-device-width 320px) (max-device-width 568px) (-webkit-min-device-pixel-ratio 2) (orientation landscape);

$iphone6: (min-device-width 375px) (max-device-width 667px) (-webkit-min-device-pixel-ratio 2) (orientation portrait);
$iphone6l:(min-device-width 375px) (max-device-width 667px) (-webkit-min-device-pixel-ratio 2) (orientation landscape);

$iphone6plus: (min-device-width 414px) (max-device-width 736px) (-webkit-min-device-pixel-ratio 3) (orientation portrait);
$iphone6plusl:(min-device-width 414px) (max-device-width 736px) (-webkit-min-device-pixel-ratio 3) (orientation landscape);

$galaxy:  (device-width 360px) (device-height 640px) (-webkit-device-pixel-ratio 3) (orientation portrait);
$galaxyl: (device-width 360px) (device-height 640px) (-webkit-device-pixel-ratio 3) (orientation landscape);

// if two numbers are listed, then it assumes the first number is min-width and second is max-width
$tablets:  (min-device-width 768px) (max-device-width 1024px) (-webkit-min-device-pixel-ratio 2) (orientation portrait);
$tabletsl: (min-device-width 768px) (max-device-width 1024px) (-webkit-min-device-pixel-ratio 2) (orientation landscape);

$galaxytab:  (min-device-width 800px) (max-device-width 1280px) (orientation portrait);
$galaxytabl: (min-device-width 800px) (max-device-width 1280px) (orientation landscape);

$kindle:(min-device-width 1200px) (max-device-width 1600px) (-webkit-min-device-pixel-ratio 1.5) (orientation portrait);
$kindlel:(min-device-width 1200px) (max-device-width 1600px) (-webkit-min-device-pixel-ratio 1.5) (orientation landscape);

// Desktop;
$desktop: (min-device-width 1200px) (max-device-width 1600px) (-webkit-min-device-pixel-ratio 1);
$desktopretina: (min-device-width 1200px) (max-device-width 1600px) (-webkit-min-device-pixel-ratio 2) (min-resolution: 192dpi);

// Timings;
$time-base   : 450ms;
$time-fast   : 100ms;
$time-slow   : 900ms;

// --------------------------------------------------------
// ELEMENT DEFINITIONS;
// --------------------------------------------------------
body
	{
	color:$clr-text;
	font-family:$font-open;
	@include enhance-text-display($clr-text);
	}
h1,h2,h3,h4,h5,p,li,dt,dd,input,button,textarea
	{
	color:$clr-text;
	transform:scale(1,1);
	zoom:1;
	}
h1
	{
	letter-spacing:$condensed;
	}
audio,
canvas,
progress,
video
	{
  display: inline-block;
  vertical-align: baseline;
	}
audio:not([controls])
	{
  display: none;
  height: 0;
	}
[hidden], template
	{
  display: none;
	}
p {
	color:$clr-text;
	}

// Remove focus outlines;
a
	{
	text-decoration:none !important;
	outline:none;
	&:hover,&:active
		{
		text-decoration:none;
		}
	}
input[type="radio"]
	{
	margin:0;
	border:0;
	@include box-shadow(none);
	}
:focus,:active
	{
	outline:0 !important;
	}

// Extra-focus box handling for Firefox;
button::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=file] > input[type=button]::-moz-focus-inner
	{
	border: none;
	}

// Placeholder font;
// Various cross-browser issues require keeping these as separate entries;
::-webkit-input-placeholder
	{ /* WebKit, Blink, Edge */
	color:$sh50;
	font-family:$font-open;
	}
:-moz-placeholder
	{ /* Mozilla Firefox 4 to 18 */
	color:$sh50;
	font-family:$font-open;
	opacity:1.0;
	}
::-moz-placeholder
	{ /* Mozilla Firefox 19+ */
	color:$sh50;
	font-family:$font-open;
	opacity:1.0;
	}
:-ms-input-placeholder
	{ /* Internet Explorer 10-11 */
	color:$sh50;
	font-family:$font-open;
	opacity:0.7;
	}
:placeholder-shown
	{ /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
	color:$sh50;
	font-family:$font-open;
	}

input:focus::-webkit-input-placeholder
	{
	color: transparent !important;
	}
input:focus::-moz-placeholder
	{
	color: transparent !important;
	}
input:focus:-moz-placeholder
	{
	color: transparent !important;
	}