/*
  ******************************************************************************
  FILE NAME:   _layouts.scss
  ------------------------------------------------------------------------------
  DESCRIPTION: Define page section layouts;
  ------------------------------------------------------------------------------
  AUTHOR:      TJE
  CREATED:     2016-11-21
  ******************************************************************************
*/
// --------------------------------------------------------
// LAYOUTS;
// --------------------------------------------------------
// Overall Layout;
html,body,.wrapper,.wrapper > main
	{
	height:100%;
	}
body
	{
	@include display-flex;
	@include flex-direction(column);
	}

// Use these classes to create a backwards-compatible three-section stacked
// layout with sticky footer;
.wrapper
	{
	width: 100%;
	& > header,
	& > main,
	& > footer
		{
		display:table-row;
		}
	& > header,
	& > footer
		{
		height:1px;
		}
	}

body > main
	{
	@include display-flex;
	@include flex-direction(row);
	@include flex(1);
	-webkit-box-pack: justify;
  justify-content: space-between;
	}

// Use a flex layout main section;
.main-content
	{
	@include display-flex;
	@include flex-direction(row);
	@include flex(1);
	flex: 1 0 100%;
	}

// ------------------------------------
// Mixins;
// ------------------------------------
// Maintain aspect ration; mixin by Chris Coyier;
// Expects a structure like this:
//
// <div class="sixteen-nine">
//   <div class="content">
//     insert content here
//     this will maintain a 16:9 aspect ratio
//   </div>
// </div>
//
// ...where our class is:
//
// .sixteen-nine {@include aspect-ratio(16, 9);}
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// Aspect ratio classes;
.four-three
	{
	@include aspect-ratio(4,3);
	}

// ------------------------------------
// Responsive iFrame;
// ------------------------------------
@mixin generateRatios($width, $height, $prefix: "ratio-") {
  $class-name: $prefix + $width + "x" + $height;

  .#{$class-name} {
    padding-bottom: ratio($width, $height);
  }
  // Output example: .ratio-16x9 {}
}

// ------------------------------------
// Convenience styles;
// ------------------------------------
// Clearfix. Use sparingly;
.clear
	{
  *zoom: 1;
	&:before,
	&:after
		{
		content: ' ';
		display: table;
		}
	&:after
		{
		clear:both;
		}
	}

// Widths;
.fw {width:100%;}
.fh {height:100%;}

// Make lowercase;
.lowercase {text-transform:lowercase;}

// Horizontal alignment;
.align-right {text-align:right;}
.align-left-flex {
	@include justify-content(flex-start);
}
.align-center-flex {
	@include justify-content(center);
}
.align-right-flex {
	@include justify-content(flex-end);
}

// Table display;
.disp-tbl {display:table;}
.disp-tbl-row {display:table-row;}
.disp-tbl-cell {display:table-cell;}

// Enable momentum scrolling on iOS...maybe;
.touchscroll
	{
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	position:relative;
	height:100%;
	}

// Hide element with screen-reader access;
.hidden
	{
	position: absolute;
	left: 0;
	top: -999em;
	width: 1px;
	height: 1px;
	overflow: hidden;
	}

// Used for screen-reader-specific elements;
.hidden
	{
	position: absolute;
	left: 0;
	top: -500px;
	width: 1px;
	height: 1px;
	overflow: hidden;
	}

// Used for animation positioning;
// Make sure container has position:relative;
.spacer-50
	{
	position:absolute;
	top:50%;
	}

// Vertical centering within parent element;
.vert-ctr-wrapper
	{
	display:table;
	height:100%;
	}
.vert-ctr
	{
	display:table-cell;
	vertical-align:middle;
	}
.vert-ctr-wrapper-unk
	{
	position:relative;
	}
.vert-ctr-unk
	{
	position:absolute;
	top:50%;
	}

// Vertical centering using flexbox;
.vert-center-wrapper-flex {
	@include display-flex;
	@include align-items(center);
}

// ------------------------------------
// Buttons;
// ------------------------------------
.btn
	{
	display:inline-block;
	margin:0 1vh 0 0;
	padding:2vh 4vw;
	cursor:pointer;
	&:last-child
		{
		margin:0;
		}
	}
.btn-large
	{
	margin:0 1vh 0 0;
	padding:3vh 6vw;
	&:last-child
		{
		margin:0;
		}
	}