extends templates/_layout

block title
	title SSV | Real Estate

block meta
	include templates/partials/_meta.jade

block styles
	include templates/partials/_styles

block content
	.wrapper
		= "\n"
		// Page header;
		header.base
			include templates/header/_header.jade
		= "\n"
		// Main content;
		main.base
			include templates/main/_main.jade
		= "\n"
		footer.base
			include templates/footer/_footer.jade
block scripts
	include templates/partials/_scripts.jade