.container-fluid.ftr-hdr-wrapper
	.row
		.footer-headers.container
			.row
				.col-sm-12
					h3#ftrSiteMapTitle.ftr-hdr Sandas Site Map
.footer-wrapper.container
	.row
		.col-sm-4
			.row
				.col-sm-6
					ul.list-unstyled.footer-sitemap(role="menu",aria-labelledby="ftrSiteMapTitle")
						//- li(itemscope,itemtype="https://schema.org/SiteNavigationalElement",role="menuitem")
						//- 	a.nav-top.active(href="/",itemprop="url")
						//- 		span(itemprop="name") Home
						li(itemscope,itemtype="https://schema.org/SiteNavigationElement",role="menuitem")
							a(href="/buy/",role="menuitem",itemprop="url")
								span(itemprop="name") Buy
							ul(role="menu")
								li
									a(href="/buy/commercial/",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Commercial
								li
									a(href="/buy/mixed/",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Mixed Use
								li
									a(href="/buy/new/",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") New Construction
								li
									a(href="/buy/foreclosures/",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Foreclosures
						li(itemscope,itemtype="https://schema.org/SiteNavigationElement",role="menuitem")
							a.ftr-menu-section(href="/lease/",itemprop="url")
								span(itemprop="name") Lease
							ul(role="menu")
								li
									a(href="/lease/all/",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") All
								li
									a(href="/lease/full/",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Full Service
								li
									a(href="/lease/net/",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Net Lease
								li
									a(href="/lease/nnn/",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Triple Net
				.col-sm-6
					ul.list-unstyled.footer-sitemap(role="menu",aria-labelledby="ftrSiteMapTitle")
						li(itemscope,itemtype="https://schema.org/SiteNavigationElement",role="menuitem")
							a(href="/brokers/",role="menuitem",itemprop="url")
								span(itemprop="name") Brokers
							ul(role="menu")
								li
									a(href="/brokers/find",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Find Broker
								li
									a(href="/brokers/directory",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Broker Directory
								li
									a(href="/brokers/hub",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Broker Hub
								li
									a(href="/brokers/advertising",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Broker Advertising
						li(itemscope,itemtype="https://schema.org/SiteNavigationElement",role="menuitem")
							a.ftr-menu-section(href="/services/",itemprop="url")
								span(itemprop="name") Services
							ul(role="menu")
								li
									a(href="/services/acquisitions/",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Acquisitions
								li
									a(href="/services/development/",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Development
								li
									a(href="/services/office/",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Office
								li
									a(href="/services/industrial/",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Industrial
		.col-sm-4
			.row
				.col-sm-6
					ul.list-unstyled.footer-sitemap(role="menu",aria-labelledby="ftrSiteMapTitle")
						li(itemscope,itemtype="https://schema.org/SiteNavigationElement",role="menuitem")
							a(href="/tools/",itemprop="url")
								span(itemprop="name") Tools
							ul.ftr-menu-section(role="menu")
								li
									a(href="/tools/calculators/",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Calculators
								li
									a(href="/tools/market/",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Market
								li
									a(href="/tools/market/comps",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Sales Comps
								li
									a(href="/tools/market/records",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Property Records
								li
									a(href="/tools/market/trends",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Market Trends
								li
									a(href="/tools/news/aggregator/",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") News Feeds
						li(itemscope,itemtype="https://schema.org/SiteNavigationElement",role="menuitem")
							a.ftr-menu-section(href="/help/",role="menuitem",itemprop="url")
								span(itemprop="name") Help
							ul(role="menu")
								li
									a(href="/help/faq/",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") FAQ
								li
									a(href="/help/helpcenter/",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Help Center
				.col-sm-6
					ul.list-unstyled.footer-sitemap(role="menu",aria-labelledby="ftrSiteMapTitle")
						li(itemscope,itemtype="https://schema.org/SiteNavigationElement",role="menuitem")
							a(href="/about/",itemprop="url")
								span(itemprop="name") About Sandas
							ul(role="menu")
								li
									a(href="/about/contact/",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Contact Us
								li.sub-spacer
									a(href="/about/blog/",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Company Overview
								li
									a(href="/about/employment/",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Work with us!
								li
									a(href="/about/advertise/",role="menuitem",itemprop="url")

										span.unv
										span(itemprop="name") Advertise
							<!-- Only show this section if user is logged in; -->
						li(itemscope,itemtype="https://schema.org/SiteNavigationElement",role="menuitem")
							a.ftr-menu-section(href="/user/",itemprop="url")
								span(itemprop="name") My Sandas
							ul(role="menu")
								li
									a(href="/user/account/",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Account
								li
									a(href="/user/listings/",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Saved Listings
								li.sub-spacer
									a(href="/user/comps/",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Saved Comps
								li
									a(href="/user/searches/",role="menuitem",itemprop="url")
										span.unv
										span(itemprop="name") Searches
		.col-sm-4
			.row
				form#frmFooterContact(aria-describedby="lblFooterContact")
					.form-group.form-input-wrap
						label#lblFooterContact.lbl-footer-find(for="inpFooterContactEmail") Questions? Contact us!
						.inp-wrap(contenteditable="false")
							span.ico-email(aria-hidden="true")
							input#inpFooterContactEmail.form-control.inp.inp-email(type="email",data-val="true",data-val-required="Please check your email",name="footerContactEmail",placeholder="Your contact email",aria-labelledby="lblFooterContact",aria-required="true")
						label#lblFooterContactMsg.lbl-footer-find.sr-only(for="txtFooterContactMsg") Contact Message
						textarea#txtFooterContactMsg.form-control(name="footerContactMsg",rows="3",placeholder="How may we help you today?",aria-multiline="true",aria-labelledby="lblFooterContactMsg",aria-required="true")
					.form-group.form-actions
						.row
							.col-sm-6
								button#btnFooterSend.btn.btn-primary(type="submit") Send
								button#btnFooterCancel.btn.btn-cancel(type="button") Cancel
							.col-sm-6.ftr-contact-link
								.vert-center-wrapper-flex.align-right-flex.fw.fh
									a.adv-contact(href="/about/contact/") Full contact form &raquo;
			.row.ftr-social-media
				button#btnAppStore.btn.btn-appstore(type="button",title="Get the Sandas app from the App Store!")
					span.badge
					span.sr-only Get the free Sandas app from the Apple App Store!
				button#btnGooglePlay.btn.btn-appstore(type="button",title="Download the Sandas app on Google Play!")
					span.badge
					span.sr-only Download the free Sandas app from Google Play!
				ul.ftr-sm-links.list-inline.pull-right
					li
						a.link-sm(href="#",title="Sandas on Twitter")
							span.sm-ico.sm-twitter
							span.sr-only Follow Sandas on Twitter
					li
						a.link-sm(href="#",title="Sandas on Facebook")
							span.sm-ico.sm-facebook
							span.sr-only Follow Sandas on Facebook
					li
						a.link-sm(href="#",title="Sandas on LinkedIn")
							span.sm-ico.sm-linkedin
							span.sr-only Follow Sandas on LinkedIn
					li
						a.link-sm(href="#",title="Sandas on Instagram")
							span.sm-ico.sm-instagram
							span.sr-only Follow Sandas on Instagram
				a#lnkFooterTop.sr-only(href="#mainContent") Back to Top
.container-fluid.ftr-legal-line
	.row
		.container
			.row
				.ftr-branding.col-sm-4
					.ftr-logo
						a.branding.hme(href="/",rel="home",title="SSV Property")
							span.sr-only Sandas Real Estate Search
				.ftr-copy.col-sm-4
					.vert-wrap
						p#copyright.ftr-copyright &copy; 2017 Polymorphic Systems, Inc.
				.ftr-legal.col-sm-4
					.vert-wrap
						ul.ftr-legal-links.list-inline.pull-right
							li
								a(href="/legal/terms/") Terms of Use
							li
								a(href="/legal/privacy/") Privacy Policy
							li
								a(href="/legal/accessibility/") Accessibility