block meta
		block title
		link(href="favicon.ico" rel="shortcut icon")
		= "\n"
		// META TAGS
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width,initial-scale=1.0,shrink-to-fit=no")
		meta(name="googlebot",content="noindex,nofollow")
		meta(name="robots",content="noindex,nofollow")
		meta(name="apple-mobile-web-app-capable",content="yes")
		meta(name="apple-mobile-web-app-status-bar-style",content="black")
		= "\n"
		// SOCIAL MEDIA;
		// Facebook;
		meta(property="og:type",content="website")
		meta(property="og:title",content="SSV Commercial Real Estate")
		meta(property="og:url",content="//ssv.polymorphicsystems.com")
		meta(property="og:image",content="//ssv.polymorphicsystems.coicons/card-ssvpoly-facebook.jpg")
		meta(property="og:site_name",content="SSV Commercial Real Estate")
		meta(property="og:description",content="SSV Commercial Real Estate provides unparalleled property search tools for buyers, leasing, and marketers.")
		= "\n"
		// Twitter;
		meta(name="twitter:card",content="summary_large_image")
		meta(name="twitter:site",content="@SSVPoly")
		meta(name="twitter:title",content="SSV Commercial Real Estate")
		meta(name="twitter:description",content="SSV Commercial Real Estate provides unparalleled property search tools for buyers, leasing, and marketers.")
		meta(name="twitter:image:src",content="//ssv.polymorphicsystems.coicons/card-ssvpoly-twitter.jpg")
		meta(name="twitter:image:alt",content="SSV Commercial Real Estate provides property search tools for buyers, leasing, and marketers.")
		= "\n"
		// ICONS AND OS INTEGRATION;
		link(rel="apple-touch-icon",sizes="57x57",href="icons/apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon",sizes="60x60",href="icons/apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon",sizes="72x72",href="icons/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon",sizes="76x76",href="icons/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon",sizes="114x114",href="icons/apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon",sizes="120x120",href="icons/apple-touch-icon-120x120.png")
		link(rel="apple-touch-icon",sizes="144x144",href="icons/apple-touch-icon-144x144.png")
		link(rel="apple-touch-icon",sizes="152x152",href="icons/apple-touch-icon-152x152.png")
		link(rel="apple-touch-icon",sizes="180x180",href="icons/apple-touch-icon-180x180.png")
		link(rel="icon",type="image/png",href="icons/favicon-32x32.png",sizes="32x32")
		link(rel="icon",type="image/png",href="icons/android-chrome-192x192.png",sizes="192x192")
		link(rel="icon",type="image/png",href="icons/favicon-96x96.png",sizes="96x96")
		link(rel="icon",type="image/png",href="icons/favicon-16x16.png",sizes="16x16")
		link(rel="manifest",href="icons/manifest.json")
		link(rel="shortcut icon",href="icons/favicon.ico")
		= "\n"
		meta(name="apple-mobile-web-app-title",content="SSV Commercial Real Estate")
		meta(name="application-name",content="SSV Commercial Real Estate")
		meta(name="msapplication-TileColor",content="#bc141a")
		meta(name="msapplication-TileImage",content="icons/mstile-144x144.png")
		meta(name="msapplication-config",content="icons/browserconfig.xml")
		meta(name="theme-color",content="#ffffff")
		= "\n"
		// Allow Site Pinning;
		meta(name="application-name",content="SSV Commercial Real Estate")
		meta(name="msapplication-tooltip",content="SSV Commercial Real Estate")
		= "\n"
		// Schema;
		script(type="application/ld+json").
			{
			"@context": "http://schema.org",
			"@type": "WebSite",
			"name": "Sandas Commercial Real Estate Search",
			"url": "//ssv.polymorphicsystems.com",
			"potentialAction": {
				"@type": "SearchAction",
				"target": "http://ssv.polymorphicsystems.com/?s={search_term}",
				"query-input": "required name=search_term"
				}
			}