block scripts
		// SCRIPTS;
		//jQuery 3.2 Full and jQuery UI 1.12;
		script(src="//code.jquery.com/jquery-3.2.0.min.js",integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=",crossorigin="anonymous")
		script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js",integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=",crossorigin="anonymous")
		script.
			if (typeof window.jQuery === 'undefined') {document.write('<script src="js/vendor/jquery/3.2.0/jquery.min.js"><\/script>');}
		="\n"
		// Bootstrap v3.3.7 Stable;
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		//- script.
		//- 	if (typeof $().emulateTransitionEnd === 'function') {document.write('<script src="js/bootstrap.min.js"><\/script>');}
		//- ="\n"
		// Utilities;
		script(src="//cdn.jsdelivr.net/lodash/4.17.4/lodash.core.min.js")
		script.
			if (typeof _ === 'function') {if(typeof _.reduce !== 'undefined') {document.write('<script src="js/vendor/lodash/4.17.4/lodash.core.min.js"><\/script>');}}
		script(src="js/vendor/jquery.touch-punch.0.2.3.min.js")
		script(src="js/vendor/modernizr-custom.min.js")
		script(src="js/vendor/numeral.1.5.3.min.js")
		="\n"
		// Cross-browser viewport units support;
		script(src="js/vendor/viewport-units-buggyfill.min.js")
		script(src="js/vendor/viewport-units-buggyfill.hacks.min.js")
		= "\n"
		// Main script;
		script(src="js/main.js")