block styles
		// STYLESHEETS;
		link(rel="stylesheet",href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
		link(rel="stylesheet",href="//fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800")
		link(rel="stylesheet",href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet",href="css/main.css")