.hdr-wrapper
	.hdr-flex
		.hdr-branding
			script(type="application/ld+json").
				{
				"@context": "http://schema.org/",
				"@type": "Organization",
				"url": "http://ssv.polymorphicsystems.com/",
				"logo": "http://ssv.polymorphicsystems.com/media/img/shr/logo-ssv.svg"
				}
			.hdr-logo(itemscope,itemtype="http://schema.org/Organization")
				a.sr-only(href="#mainContent") Skip to Main Content
				a.navbar-brand.hme(itemprop="url",href="http://ssv.polymorphicsystems.com/",rel="home",title="Sandas Commercial Real Estate Search",aria-describedby="hdrSiteDescription")
					span#logo(itemprop="logo")
					span#hdrSiteDescription.sr-only Sandas Commercial Real Estate Search
		.hdr-sections
			.hdr-customer
				h2#hdrCustomerTools.hidden Customer Tools
				ul#savedItems(aria-labelledby="hdrCustomerTools")
					li.shortlisted
						a(href="/shortlist/")
							span.lbl-saved Shortlisted
							span.val-saved 2
					li.savedsearches
						a.saved-counter(href="/searches/")
							span.lbl-saved Saved Searches
							span.val-saved 3
				.sign-up
					button#btnLogin.btn-sign(type="button") Login
					button#btnSignup.btn-sign(type="button") Register
					#loginDialog.sign-wrapper.container(aria-hidden="true",role="dialog",aria-labelledby="hdrLoginDialog")
						.row
							h2#hdrLoginDialog.sign-header Login
						.row
							.col-sm-6
								ul.sso-list
									li
										a.sso-link(href="/sso/google/",title="Log into SSV using your Google account") Login with Google
									li
										a.sso-link(href="/sso/twitter/",title="Log into SSV using your Twitter account") Login with Twitter
									li
										a.sso-link(href="/sso/facebook/",title="Log into SSV using your Facebook account") Login with Facebook
									li.subspacer
										a.sso-link(href="/sso/company/",title="Log into SSV using your company credentials") Login with Company ID
							.col-sm-6
								form.frm-login.form-content
									.form-group.form-input-wrap
										label#lblLoginEmail.lbl-sign(for="inpLoginEmail") Email
										.inp-wrap(contenteditable="false")
											span.ico-email(aria-hidden="true")
											input#inpLoginEmail.form-control.inp.inp-email(type="email",data-val="true",data-val-required="Please check your email address!",name="loginEmail",placeholder="Email",aria-labelledby="lblLoginEmail",aria-required="true")
									.form-group.form-input-wrap
										label#lblLoginPassword.lbl-sign(for="inpLoginPassword") Password
										.inp-wrap(contenteditable="false")
											span.ico-password(aria-hidden="true")
											input#inpLoginPassword.form-control.inp.inp-password(type="password",data-val="true",data-val-required="Please retry your password!",name="loginPassword",placeholder="Password",aria-labelledby="lblLoginPassword",aria-required="true")
									.checkbox
										label#lblLoginCheck.lbl-sign(for="inpLoginCheck") Keep me signed in
										input#inpLoginCheck(type="checkbox",aria-labelledby="lblLoginCheck")
									button#btnLoginSubmit.btn.btn-sign(type="submit",aria-describedby="loginExplainText") Login
									button#btnLoginCancel.btn.btn-sign-cancel(type="button") Cancel
									p#loginExplainText.explain-text Credentials will be sent over a secure connection
									a#forgotPassword(href="/forgotpassword/") Forgot password?
					#signUpDialog.sign-wrapper.container(aria-hidden="true",role="dialog",aria-labelledby="hdrSignUpDialog")
						.row
							h2#hdrSignUpDialog.sign-header(aria-describedby="signUpDetails") Register
							span.sign-burst(title="Why you should sign up!")
							p#signUpDetails.sign-details Register with SSV to save and share shortlisted properties, searches, create a profile, access special features, and customize your experience!
						.row
							.col-sm-6
								ul.sso-list
									li
										a.sso-link(href="/join/sso/google/",title="Sign up with SSV using your Google account") Sign up with Google
									li
										a.sso-link(href="/join/sso/twitter/",title="Sign up with SSV using your Twitter account") Sign up with Twitter
									li
										a.sso-link(href="/join/sso/facebook/",title="Sign up with SSV using your Facebook account") Sign up with Facebook
							.col-sm-6
								form.frm-signup.form-content
									.form-group.form-input-wrap
										label#lblSignUpEmail.lbl-sign(for="inpSignUpEmail") Email
										.inp-wrap(contenteditable="false")
											span.ico-email(aria-hidden="true")
											input#inpSignUpEmail.form-control.inp.inp-email(type="email",data-val="true",data-val-required="Please check your email address!",name="signUpEmail",placeholder="Email",aria-labelledby="lblSignUpEmail",aria-required="true")
									.form-group.form-input-wrap
										label#lblSignUpPassword.lbl-sign(for="inpSignUpPassword") Password
										.inp-wrap(contenteditable="false")
											span.ico-password(aria-hidden="true")
											input#inpSignUpPassword.form-control.inp.inp-password(type="password",data-val="true",data-val-required="Please retry your password!",name="signUpPassword",placeholder="Password",aria-labelledby="lblSignUpPassword",aria-required="true")
									.form-group.form-input-wrap
										label#lblConfirmSignUpPassword.lbl-sign(for="inpConfirmSignUpPassword") Confirm Password
										.inp-wrap(contenteditable="false")
											span.ico-password(aria-hidden="true")
											input#inpConfirmSignUpPassword.form-control.inp.inp-password(type="password",data-val="true",data-val-required="Both passwords must match",name="confirmSignUpPassword",placeholder="Confirm Password",aria-labelledby="lblConfirmSignUpPassword",aria-required="true")
									button#btnSignUpSubmit.btn.btn-sign(type="submit",aria-describedby="signUpExplainText") Sign up
									button#btnSignUpCancel.btn.btn-sign-cancel(type="button") Cancel
									p#signUpExplainText.explain-text Credentials will be sent over a secure connection
									a#signUpRealEstatePro(href="/professionalregistration/") Real estate professional? Register here!
			.hdr-layout
				h2.hidden Main Navigation
				nav.main-nav.menu-wrapper.pull-right.collapse.navbar-collapse
					ul#mainMenu.nav.navbar-nav.nav-wide(title="Main Menu",role="menubar")
						li.prop-1(itemscope,itemtype="https://schema.org/SiteNavigationElement",role="menuitem")
							a.nav-top.active(href="/",itemprop="url")
								span(itemprop="name") Home
						li#buyDD.dropdown(itemscope,itemtype="https://schema.org/SiteNavigationElement",role="menuitem")
							a#nav-buy.dropdown-toggle(href="/buy/",data-toggle="dropdown") Buy
								span.caret
							ul#test.dropdown-menu.mega-dropdown-menu
								li
									.col-sm-6
										h3.menu-col-header Properties for sale
										ul.menu-col-options
											li
												a(href="/buy/commercial/") Commercial
											li
												a(href="/buy/mixed/") Mixed Use
											li
												a(href="/buy/new/") New Construction
											li
												a(href="/buy/foreclosures/") Foreclosures
										button.menu-col-button(title="Receive a list of properties matching your needs")
											span.ico-property(aria-hidden="true")
											span PropertyMatch
									.col-sm-6
										h3.menu-col-header Research &amp; Resources
										ul.menu-col-options
											li.menu-col-video
												figure
													iframe(width="200",height="113",src="//www.youtube.com/embed/KR2GhRmr00s",allowfullscreen)
													figcaption
														span.ico-video Valuation Models
											li
												a(href="/buy/guides/") Economic
											li
												a(href="/buy/mixed/") Capital Market
											li
												a(href="/buy/new/") Valuation &amp; Advisory
										button#btnAddListingSale.menu-col-button(title="Add a sale listing")
											span.ico-sale Add Sale Listing
						li.dropdown(itemscope,itemtype="https://schema.org/SiteNavigationElement",role="menuitem")
							a#nav-lease.dropdown-toggle(href="/lease/",data-toggle="dropdown") Lease
							ul.dropdown-menu.mega-dropdown-menu
								li.col-sm-2
									.menu-col-wrap
										h3.menu-col-header Properties to Lease
										ul.menu-col-options
											li
												a(href="/lease/all/") All
											li
												a(href="/lease/full/") Full Service
											li
												a(href="/lease/net/") Net Lease
											li
												a(href="/lease/nnn/") Triple Net
								li.col-sm-2
									.menu-col-wrap
										h3.menu-col-header Research &amp; Resources
										ul.menu-col-options
											li
												a(href="/buy/guides/") Leasing Forecast 2017
										button#btnAddListingLease.menu-col-button(title="Add a sale listing")
											span.ico-sale Add Lease Listing
						li.dropdown(itemscope,itemtype="https://schema.org/SiteNavigationElement",role="menuitem")
							a#nav-brokers.dropdown-toggle(href="/brokers/",data-toggle="dropdown") Brokers
							ul.dropdown-menu.mega-dropdown-menu
								li.col-sm-2
									.menu-col-wrap
										h3.menu-col-header Brokers
										ul.menu-col-options
											li
												a(href="/brokers/find") Find Broker
								li.col-sm-2
									.menu-col-wrap
										h3.menu-col-header Broker Tools
										ul.menu-col-options
											li
												a(href="/brokers/directory") Broker Directory
											li
												a(href="/brokers/hub") Broker Hub
											li
												a(href="/brokers/advertising") Broker Advertising
						li.dropdown(itemscope,itemtype="https://schema.org/SiteNavigationElement",role="menuitem")
							a#nav-services.dropdown-toggle(href="/services/",data-toggle="dropdown") Services
							ul.dropdown-menu.mega-dropdown-menu
								li.col-sm-2
									.menu-col-wrap
										ul.menu-col-options
											li
												a(href="/services/acquisitions/") Acquisitions
											li
												a(href="/services/development/") Development
											li
												a(href="/services/office/") Office
											li
												a(href="/services/industrial/") Industrial
								li.col-sm-2
									.menu-col-wrap
										ul.menu-col-options
											li
												a(href="/services/portfolio/") Portfolio
						li.dropdown(itemscope,itemtype="https://schema.org/SiteNavigationElement",role="menuitem")
							a#nav-tools.dropdown-toggle(href="/tools/",data-toggle="dropdown") Tools
							ul.dropdown-menu.mega-dropdown-menu
								li.col-sm-2
									.menu-col-wrap
										h3.menu-col-header Calculators
										ul.menu-col-options
											li
												a(href="/tools/calc/officespace/") Office Space
											li
												a(href="/tools/calc/refinance/") Refinance
											li
												a(href="/tools/calc/mortgage/") Mortgage
											li
												a(href="/tools/calc/loanqualification/") Loan Qualification
											li
												a(href="/tools/calc/loancomparison/") Loan Comparison
											li
												a(href="/tools/calc/savings/") Savings
								li.col-sm-2
									.menu-col-wrap
										h3.menu-col-header Property Market
										ul.dropdown-menu
											li
												a(href="/tools/market/comps") Sales Comps
											li
												a(href="/tools/market/records") Property Records
											li
												a(href="/tools/news/trends/") Market Trends
											li
												a(href="/tools/news/aggregator/") News Feeds
						li.dropdown.menuitem-help(itemscope,itemtype="https://schema.org/SiteNavigationElement",role="menuitem")
							a#nav-help.dropdown-toggle(href="/help/",data-toggle="dropdown") Help
							ul.dropdown-menu
								li
									a(href="/help/faq/") FAQ
								li
									a(href="/help/helpcenter/") Help Center
						li.dropdown(itemscope,itemtype="https://schema.org/SiteNavigationElement",role="menuitem")
							a#nav-about.dropdown-toggle(href="/about/",data-toggle="dropdown") About
							ul.dropdown-menu
								li
									a(href="/about/contact/") Contact Us
								li.sub-spacer
									a(href="/about/blog/") Company Overview
								li
									a(href="/about/employment") Work with us!
								li
									a(href="/about/advertise") Advertise