/* Header; */
header.base {
	display:table-row;
	width:100%;
	.hdr-wrapper {
		position:fixed;
		display:table-cell;
		width:100%;
		z-index:1000;
	}
	.hdr-flex {
		@include display-flex;
		@include flex-direction(row);
		@include flex-wrap(nowrap);
		@include justify-content(flex-start);
	}
	.navbar-brand {
		padding:0 !important;
	}
	.hdr-branding {
		background:$nav-sel;
		@include display-flex;
		@include align-items(center);
		& .hdr-logo {
			padding:0 20px 0 10px;
			@include flex-grow(0);
		}
		& .hme {
			display:block;
			height:50px;
			width:184px;
			background:$trans url('../media/images/shr/ssv-logo-horiz-50x184b.svg') no-repeat 50% 50%;
			background-size:auto 100%;
		}
		& .hdr-site-description {
			margin:0 0.5rem;
			padding-left:0.5rem;
			color:$jll-concrete;
			font-size:$fs-tny;
			border-left:1px solid $jll-concrete;
		}
	}
	.hdr-sections {
		background:$hi50;
		@include display-flex;
		@include flex-direction(column);
		@include flex-grow(2);
	}
	.hdr-customer
		{
		width:100%;
		@include display-flex;
		@include justify-content(flex-end);
		@include align-items(flex-end);
			& #savedItems {
				list-style:none;
				& li {
					float:left;
				}
			}
		}
	.hdr-layout
		{
		width:100%;
		background:$nav-sel;
		@include display-flex;
		@include justify-content(flex-start);
		}

	// Nav menu;
	.main-nav
		{
		background:$trans;
		@include flex-grow(1);
		& .menu-wrapper
			{
			position:relative;
			&.pull-right
				{
				float:right;
				}
			}
		& .nav-wide
			{
			list-style:none;
			& li
				{
				float:left;
				&.hilite
					{
					position:absolute;
					display: block;
					top:$sz-base-h - 4px;
					height: 4px;
					width:0;
					left: 20px;
					padding:0;
					margin:0;
					background:$sh10;
					z-index:1;
					opacity:0;
					}
				& a
					{
					display:inline-block;
					padding:0 10px;
					color:$emea-line-d;
					font:normal 400 $fs-fin/1 $font-open;
					line-height:$sz-base-h;
					@include transition(all 100ms linear);
					&:hover
						{
						color:$jll-chalk;
						@include transition(all 100ms linear);
						}
					&:active
						{
						color:$jll-concrete;
						background:#111;
						@include box-shadow(inset -1px 0 0 0 rgba(255, 255, 255, 0.2), inset 1px 0 0 0 #000);
						}
					&.nav-top
						{
						}
					}
				&.prop-1
					{
					color:$jll-ov-grey;
					}
				&.prop-1 a,&.prop-2 a
					{
					padding:0 10px;
					}
				&.prop-1:after,&.prop-2:after
					{
					content:'|';
					color:$jll-ov-grey;
					}
				}
			}
		}

	// Search;
	.hdr-actions
		{
		@include display-flex;
		height:$sz-base-h;
		@include flex-grow(0);
		@include align-items(center);
		& button
			{
			width:36px;
			height:36px;
			line-height:36px;
			border:0;
			background:$trans;
			}
		}
	.hdr-search-wrapper
		{
		position:relative;
		@include display-flex;
		background:$jll-chalk;
		@include border-radius(44px);
		@include flex-grow(0);
		@include align-items(center);
		& .btn-find,& .hdr-inp-find,& .btn-find-clear
			{
			@include flex-grow(0);
			}
		}
	.btn-find
		{
		@include border-radius(44px 0 0 44px);
		}
	.hdr-inp-find
		{
		height:36px;
		min-width:200px;
		border:0;
		background:$trans;
		}
	.btn-find-clear
		{
		@include border-radius(0 44px 44px 0);
		}
	.btn-share
		{
		@include flex-grow(0);
		width:$sz-base-h;
		height:100%;
		margin:0 8px;
		}
	}

.mega-dropdown-menu li {
	min-width:500px;
}

#loginDialog,
#signUpDialog {
	display:none;
}

@media screen and (min-width: 768px) {
	// .hdr-wrapper .dropdown:hover .dropdown-menu,
	// .hdr-wrapper .btn-group:hover .dropdown-menu {
	// 	display: block;
	// }
	// .hdr-wrapper .dropdown-menu {
	// 	margin-top: 0;
	// }
	// .hdr-wrapper .dropdown-toggle {
	// 	margin-bottom: 2px;
	// }
	// .hdr-wrapper .navbar .dropdown-toggle,
	// .hdr-wrapper .nav-tabs .dropdown-toggle {
	// 	margin-bottom: 0;
	// }
}