/* Navigation; */
.chart-type
	{
	vertical-align:top;
	width:$sz-left-bar;
	background:$jll-charcoal;
	@include box-shadow(inset -2px 0 4px 0 $sh75);
	}
.nav-left
	{
	width:inherit;
	list-style-type:none;
	& .nav-left-item
		{
		position:relative;
		height:$sz-btn-nav;
		min-height:48px;
		max-height:64px;
		width:100%;
		margin:0 0 2px 0;
		@include display-flex;
		@include flex-direction(column);
		@include justify-content(center);
		&.active
			{
			background:$nav-sel;
			@include box-shadow(0 1px 0 0 $hi05,inset -2px 1px 0 0 $sh80,inset -4px 0 6px 0 $sh50);
			&:after
				{
				position:absolute;
				right:-3px;
				margin-top:0;
				content: "\25C0";
				color:$jll-concrete;
				@include responsive-font($sz-triangle, 12px, 18px, 18px);
				line-height:1;
				}
			& .nli-link
				{
				opacity:1.0;
				}
			& .ico-nav-left,& .nli-text
				{
				color:$hi80;
				@include transition(color 250ms ease-in-out);
				}
			}
		& .nli-link
			{
			display:block;
			position:relative;
			padding:4px 0;
			opacity:0.6;
			@include transition(opacity 150ms linear);
 			}
 		&:hover .nli-link
 			{
			opacity:1.0;
			@include transition(opacity 450ms linear);
 			}
		& .ico-nav-left
			{
			display:block;
			margin:0 auto;
			color:$hi75;
			font-family:'ChartIcons';
			@include responsive-font($sz-icon, 24px, 36px, 36px);
			line-height:1;
			text-align:center;
			@include transition(color 250ms ease-in-out);
			}
		& .nli-text
			{
			display:block;
			padding-top:3px;
			color:$hi75;
			font-size:$fs-na2;
			text-align:center;
			@include transition(color 250ms ease-in-out);
			}
		}
	}