/*
  ******************************************************************************
  FILE NAME:   _mixins.scss
  ------------------------------------------------------------------------------
  DESCRIPTION: General Compass Mixins;
  ------------------------------------------------------------------------------
  AUTHOR:      TJE
  CREATED:     2017-03-21
  ******************************************************************************
  INCLUDES:
  - simple-vert-center
  - truncate-text
  - grab-cursor
  - grabbing-cursor
  - prevent-text-select
  - gradient-animation
  - aspect-ratio (keep aspect ratio)
  - generateRatios (responsive iFrame)
  - triangle
  - hui-tooltip
*/
// Simple vertical centering without additional element;
@mixin simple-vert-center() {
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: .1px;
  }
}

// Truncate text;
@mixin truncate-text($overflow: ellipsis) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: $overflow; // values are: clip, ellipsis, or a string
}

// Cross-browser grab cursor for range sliders;
@mixin grab-cursor
	{
	cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
	}

@mixin grabbing-cursor
	{
	cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
	}

@mixin prevent-text-select
	{
	-moz-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	}

// Animate gradient background transitions;
@mixin gradient-animation( $start, $end, $startH, $endH, $transTime, $radius:4px ){
  background-size: 100%;
  background-image: linear-gradient($start, $end);
  position: relative;
  z-index: 100;
  &:before {
    background-image: linear-gradient($startH, $endH);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    border-radius:$radius;
    transition: opacity $transTime;
    overflow:hidden;
  }
  &:hover,
  &:focus {
     &:before {
       opacity: 1;
     }
  }
}

// Maintain aspect ratio; mixin by Chris Coyier;
// Expects a structure like this:
//
// <div class="sixteen-nine">
//   <div class="content">
//     insert content here
//     this will maintain a 16:9 aspect ratio
//   </div>
// </div>
//
// ...where our class is:
//
// .sixteen-nine {@include aspect-ratio(16, 9);}
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// Aspect ratio classes;
.four-three
	{
	@include aspect-ratio(4,3);
	}

// ------------------------------------
// Responsive iFrame;
// ------------------------------------
@mixin generateRatios($width, $height, $prefix: "ratio-") {
  $class-name: $prefix + $width + "x" + $height;

  .#{$class-name} {
    padding-bottom: ratio($width, $height);
  }
  // Output example: .ratio-16x9 {}
}

// ------------------------------------
// Triangle;
// ------------------------------------
// Add triangle to an element (used with tooltip below);
// @include triangle within a pseudo element and add positioning properties
// (ie. top, left) $direction: up, down, left, right
@mixin triangle($direction, $size: 6px, $color: #222){
  content: '';
  display: block;
  position: absolute;
  height: 0; width: 0;
  @if ($direction == 'up'){
    border-bottom: $size solid $color;
    border-left: 1/2*$size solid transparent;
    border-right: 1/2*$size solid transparent;
  }
  @else if ($direction == 'down'){
    border-top: $size solid $color;
    border-left: 1/2*$size solid transparent;
    border-right: 1/2*$size solid transparent;
  }
  @else if ($direction == 'left'){
    border-top: 1/2*$size solid transparent;
    border-bottom: 1/2*$size solid transparent;
    border-right: $size solid $color;
  }
  @else if ($direction == 'right'){
    border-top: 1/2*$size solid transparent;
    border-bottom: 1/2*$size solid transparent;
    border-left: $size solid $color;
  }
}

// ------------------------------------
// Tooltip;
// ------------------------------------
// Uses 'data-tooltip' custom attribute;
@mixin hui-tooltip($content: attr(data-tooltip), $direction: top) {
  position: relative;
  &:before, &:after {
    display: none;
    z-index: 98;
  }
  &:hover {
    &:after { // for text bubble
      content: $content;
      display: block;
      position: absolute;
      height: 12px; // (makes total height including padding 22px)
      padding: 6px;
      font-size: 12px;
      white-space: nowrap;
      color: #fff;
      @include text-shadow(1px 1px #000);
      background-color: #222;
    }
    @if ($direction == 'top'){
      &:before {
        @include triangle(down, 6px, #222);
        top: -6px; margin-top: 0;
        left: 47%;
      }
      &:after {
        top: -28px;
        left: 47%; margin-left: -20px;
      }
    }
    @else if ($direction == 'bottom'){
      &:before {
        @include triangle(up, 6px, #222);
        top: auto; margin-top: 0;
        bottom: -6px;
        left: 47%;
      }
      &:after {
        bottom: -28px;
        left: 47%; margin-left: -20px;
      }
    }
  }
}