doctype html
html(lang="en-US")
	head
		meta(charset="UTF-8")
		block meta
		= "\n"
		block styles
	= "\n"
	body(itemscope,itemtype="http://schema.org/WebSite")
		block content
		= "\n"
		block scripts

//# sourceMappingURL=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.map